<div class="login-wrapper">
  <form action="/login" method="POST" class="login-form">
    <div class="form-group">
      <label for="email">שם משתמש:</label>
      <input type="text" id="email" name="email" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="password">סיסמה:</label>
      <input type="password" id="password" name="password" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">התחבר</button>
  </form>
</div>

